.cd-overlay{
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    visibility: hidden;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
}

.fade.in {
    opacity: 1;
}

.modal{
    &.in {
        .modal-dialog {
            -webkit-transform: translate(0,0);
            -ms-transform: translate(0,0);
            -o-transform: translate(0,0);
            transform: translate(0,0);
        }
    }
    &.fade {
        .modal-dialog {
            -webkit-transition: -webkit-transform .3s ease-out;
            -o-transition: -o-transform .3s ease-out;
            transition: transform .3s ease-out;
            -webkit-transform: translate(0,-25%);
            -ms-transform: translate(0,-25%);
            -o-transform: translate(0,-25%);
            transform: translate(0,-25%);
        }
    }
    .center-block {
        display: block;
        margin-right: auto;
        margin-left: auto;
        h3{
            font-size: 24px;
            padding-left: 10px;
        }
        .form-group {
            margin-bottom: 15px;
            .control-label {
                padding-top: 7px;
                margin-bottom: 0;
                text-align: right;
            }
        }
    }
}
