.consult-container {
    background-image: url("/images/mix/apartment-blinds-cabinets-349749.jpg");
    height: 750px;
    background-size: cover;
    position: relative;
    padding: 0 15px 0 15px;
    .header-wrap {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
        width: 65%;
        text-align: left;
        margin: 4% auto 0 auto;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        color: #333;
        padding: 40px;
        @media (max-width: $bp-mob) {
            width: 100%;
        }
        h5 {
            font-size: 36px;
            letter-spacing: 1px;
            margin: 10px 0 10px 0;
            padding: 0 0 0 120px;
        }
        p {
            font-size: 16px;
            margin: 0 0 10px 0;
            padding: 0 0 0 125px;
        }
    }
    .header-form {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
        width: 35%;
        @media (max-width: $bp-mob) {
            width: 100%;
        }
        .content-form {
            padding-left: 20px;
            .form-body {
                max-width: 340px;
                padding: 15px 20px 15px;
                margin: 35px auto 0 auto;
                border-bottom: 1px solid #CCCCCC;
                background-color: #fff;
                .form-heading {
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    color: #333;
                    font-size: 14px;
                    padding-bottom: 10px;
                    border-bottom: 3px solid #F74861;
                    margin: 15px auto 20px;
                }
                fieldset {
                    padding: 0;
                    margin: 0;
                    border: 0;
                    min-width: 0;
                    .form-element {
                        line-height: 50px;
                        height: 50px;
                        background: #fff;
                        position: relative;
                        margin-bottom: -1px;
                        border: 1px solid #E6E6E6;
                        -webkit-transition: .3s border,.3s height;
                        -o-transition: .3s border,.3s height;
                        transition: .3s border,.3s height;
                        .form-placeholder {
                            line-height: 60px;
                            left: 20px;
                            pointer-events: none;
                            color: #666;
                            font-size: 12px;
                            text-transform: uppercase;
                            position: absolute;
                            top: 0;
                            max-width: 100%;
                            z-index: 1;
                            -webkit-transition: .3s;
                            -o-transition: .3s;
                            transition: .3s;
                            -webkit-transform-origin: 0 0;
                            -moz-transform-origin: 0 0;
                            -ms-transform-origin: 0 0;
                            -o-transform-origin: 0 0;
                            transform-origin: 0 0;
                        }
                        .form-control {
                            &.dropdown {
                                border: none;
                                border-radius: 0;
                                height: 50px;
                            }
                            &.description {
                                border: none;
                                border-bottom: 1px solid #ccc;
                                height: 50px;
                                border-radius: 0;
                            }
                        }
                        input {
                            border: none;
                        }
                        .active-focus {
                            border: 1px solid #666;
                            z-index: 999;
                        }
                    }
                }
                .submit-btn {
                    width: 100%;
                    border: none;
                    margin-top: 20px;
                }
            }
        }
    }
}