.btn{
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-family: "avenirnext-medium","helvetica neue",helvetica,arial,sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    text-decoration: none;
}
.white-btn{
    @extend .btn;
    padding: 8px 16px;
    color: #323D4B;
    border: 1px solid white;
    background-color: white;
    border-radius: 2px;
}
.pink-btn {
    @extend .btn;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33333;
    color: #fff;
    background-color: #f75861;
}